* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  img {
    display: flex;
    width: 100%;
    height: auto;
  }
  body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
    background-color: #000000;
  }
  .container {
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
  }
  .row {
    display: flex;
  }
  .logo {
    width: 470px;
    height: 125px;
    margin-bottom: 50px;
    margin-left: 20px;
  }
  a {
    text-decoration: none;
    list-style-type: none;
    color: #ffff;
  }
  li {
    display: inline-block;
    font-size: 25px;
    font-weight: 600px;
    text-transform: uppercase;
    padding: 0px 15px;
  }
  ul {
    text-align: center;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .head {
    padding: 50px 300px;
  }
  h1 {
    color: #B53B9E;
    font-size: 50px;
    margin-bottom: 50px;
  }
  .hero .row .write{
    margin-top: 50px;
  }
  p {
    color: #ffff;
  }
  .hero .row .write p{
    margin-bottom: 40px;
  }
  .hero {
    padding-left: 70px;
    padding-right: 50px;
    height: 600px;
    background-color: #1D0A1A;
  }
  .write {
    width: 950px;
    padding-top: 50px;
    margin-right: 35px;
  }
  .ilme {
    width: 480px;
    height: 535px;
    margin-top: 40px;
  }

  .button {
    font-size: 30px;
    font-weight: 700px;
    background-color: #3D2A36;
    padding: 10px 80px;
  }
  .education h1 {
    color: #ffff;
    text-align: center;
    margin-top: 135px;
  }
  h2 {
    font-size: 25px;
    font-weight: 700px;
    color: #B53B9E;
    margin-bottom: 45px;
  }
  .education .points {
    text-align: center;
  }
  .school {
    height: 154px;
    width: 154px;
    border-radius: 100%;
    margin-left: 100px;
    margin-bottom: 83px;
  }
  .scl {
    padding: 105px 45px;
  }
.abs {
  width: 487px;
  height: 710px;
}
.about .write2 h1{
  color: #ffff;
  text-align: left;
  margin-bottom: 125px;
}
.about .col p{
color: #000000;
font-size: 15px;
}
.about{
  padding: 100px 80px;
  background-image: url(../images/background.png);
  height: 813px;
  background-position: center center;
  background-repeat: no-repeat;
}
.write2 {
  padding-left: 116px;
  padding-top: 90px;
  padding-bottom: 130px;
}

/* --------------- Footer --------------- */
footer{
  margin-top: 150px;
  padding-top: 100px;
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 100px;
  background-color: #1D0A1A;

  display: flex;
  justify-content: center;
  align-items: center;
}
.footlogo {
  height: 150px;
  width: 565px;
  margin-left: 30px;
}
.icon{
  height: 50px;
  width: 50px;
}
.footnav {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600px;
  padding: 55px 20px;
  margin-left: 20px;
}
.icons {
padding: 0px 32px;
}
.iconic {
  margin-left: 75px;
}

/*------------------Gallery--------------------*/
.herotwo {
background-image: url(../images/TRY\ ONLY.png);
background-color: #1D0A16;
height: 450px;
background-position: center 20%;
background-repeat: no-repeat;
background-size: 110%;
opacity: 70%;

display: flex;
justify-content: center;
align-items: center;
}
.herotwo h1 {
  color: #ff00d0;
  opacity: 100;
}
.show h1{
display: flex;
justify-content: center;
align-items: center;

color: #ffff;
margin-top: 90px;
}
.showcases {
display: flex;
justify-content: center;
padding-left: 80px;

background-image: url(../images/2ndbckg-01.png);
height: 550px;
background-position: center center;
background-repeat: no-repeat;
}

.image {
  height: 220px;
  width: 220px;
  padding: 10px 10px;

  /*--transition: transform 3s;--*/
}
/*--img.image:hover{
    transform:scale(1);
}--*/
.showcases .row p{
  margin-top: 300px;
  font-size: 15px;
  padding-right: 50px;
}
.scrolling {
  height: 530px;
  width: 2400px;
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 80px;
}
::-webkit-scrollbar {
  width: 0px;
}
.images {
  margin-top: 50px;
}

.graph .show h1{
  color: #ffff;
}
.show{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.moodboard {
  width: 410px;
  height: 250px;
  padding: 10px 10px;
}

.graph{
 display: flex;
 justify-content: center;
 align-items: center;
 padding-top: 50px;
}
.scroling {
  height: 600px;
  margin-left: 50px;
  overflow: hidden;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0px;
}
.showcases .row p{
  margin-top: 300px;
  font-size: 15px;
}

.animal {
  height: 410px;
  width: 410px;
  padding: 10px 10px;
}
.animales {
  display: flex;
  justify-content: center;
  align-items: center;
}
